{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} My Transactions {% endblock %}</h1>
<h2>Add new transaction</h2>
<form action="/myTransactions" method="POST" class="regForm">

      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      
    <div>
        <label> My Email </label>
        <input type="text" name="my_email" value="{{request.form.my_email}}" />
    </div>
    <div>
        <label> Receiver Email </label>
        <input type="text" name="receiver_email" value="{{request.form.receiver_email}}"/>
    </div>
    <div>
    <label> Amount </label>
    <input type="text" name="amount" value="{{request.form.amount}}"/>
    </div>
    <div>
        <input type="submit" value="submit" />
    </div>
</form>
<h2> My signed transactions </h2>
<a href = "{{ url_for('my_transactions') }}"></a>
 <table>
         <thead>
            <tr>
                <th>SRC</th>
                <th>DST</th>
               <th>Amount</th>
               <th>Signed</th>
            </tr>
         </thead>

         <tbody>
            {% for t in transactions %}
               <tr>
                   <td>{{ t.src }}</td>
                   <td>{{ t.dst }}</td>
                  <td>{{ t.amount }}</td>
                  <td>{{ t.signed }}</td>>
               </tr>
            {% endfor %}
         </tbody>
      </table>


{% endblock %}