{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} My Transactions {% endblock %}</h1>

<h2> Transactions Waiting To Sign </h2>
<a href = "{{ url_for('transactions_to_sign') }}"></a>

 <table>
         <thead>
            <tr>
                <th>SRC</th>
                <th>DST</th>
               <th>Amount</th>
               <th>Signed</th>
            </tr>
         </thead>

         <tbody>
            {% for t in transactions %}
               <tr>
                   <td>{{ t.src }}</td>
                   <td>{{ t.dst }}</td>
                  <td>{{ t.amount }}</td>
                  <td>{{ t.signed }}</td>>
                   <td>
                    <form action="http://localhost:5000/transactionsToSign" method="POST" class="regForm">
                        <div>
                            <input type="submit" value="sigh" />
                        </div>
                    </form>
                   </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>


{% endblock %}